body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.slide-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 600vw;

    animation-name: scroll-to-side;
    animation-duration: 24s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.image-slide{
    padding: 0;
    margin: 0;
}
.slide-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

@keyframes scroll-to-side {
    0%, 10% {
         transform: translateX(0vw); 
    }
    15%, 25% {
         transform: translateX(-100vw); 
    }
    30%, 40% {
         transform: translateX(-200vw); 
    }
    45%, 55% {
         transform: translateX(-300vw); 
    }
    60%, 70% {
         transform: translateX(-400vw); 
    }
    75%, 85% {
         transform: translateX(-500vw); 
    }
    90%, 100% {
         transform: translateX(0vw); 
    } 
}