body{
    margin: 0;
        
}
.blue-background{
    position: absolute;
    background-color: rgb(26, 79, 194);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.center-little-circle{
    background-color: rgb(82, 82, 82);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text{
    color: white;
    font-size: 2.5rem;
}

.center-large-circle{
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    height: 400px;
    width: 400px;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;

    animation-name: go-around;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.red-rotating-part{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    /* rotate: 45deg; */
    position: relative;
    border-top-left-radius: 100%;

}

@keyframes go-around {
    0% {
        rotate: 0;
    }
    25% {
        rotate: 90deg;
    }
    50% {
        rotate: 180deg;
    }
    75% {
        rotate: 270deg;
    }
    100% {
        rotate: 0;
    }
    
}